---
import Layout from "../../layouts/Layout.astro";
import { AdmissionApplicationUsersList } from "../../components/AdmissionApplicationUsersList";
import { PartyPlayersStats } from "../../components/PartyPlayersStats";

const { id } = Astro.params;
---

<Layout title={`Caimas App | Caima`}>
  <PartyPlayersStats client:load partyId={id || ""} />
  <section
    class="max-w-screen-2xl mx-auto px-4 md:px-8 bg-secondBackgroundColor mt-8 p-4 rounded-xl"
  >
    <span class="text-titleColor text-2xl">Users Requests</span>
    <AdmissionApplicationUsersList client:load />
  </section>
</Layout>
