---
import Landing from "../components/Landing";
import { LogInForm } from "../components/LogInForm";
---

<main class="w-full h-85vh flex flex-col items-center justify-center px-4">
  <Landing client:visible />
  <div class="max-w-sm w-full text-textColor" id="login" style="display: none">
    <div class="text-center">
      <div class="mt-5 space-y-2">
        <h3 class="text-lightPrimaryColor text-2xl font-bold sm:text-3xl">
          Log in to your account
        </h3>
        <p class="">
          Don't have an account?{" "}
          <a
            data-astro-reload
            class="font-medium text-lightPrimaryColor hover:text-lightSecondaryColor"
            href="/sign-in"
          >
            Sign up
          </a>
        </p>
      </div>
    </div>
    <LogInForm />
  </div>
</main>

<script>
  import { userInfo } from "../stores/userStore";

  // Listen to changes in the store, and show/hide the dialog accordingly
  userInfo.subscribe((info) => {
    const loginElement = document.getElementById("login");
    if (info?.accessToken && loginElement) {
      loginElement.style.display = "none";
    }
  });
</script>
