---
import Layout from "../layouts/Layout.astro";
import HomeScreen from "../screens/HomeScreen.astro";
---

<Layout title="Caimas app | Home">
  <main class="w-full h-85vh flex flex-col items-center justify-center px-4">
    <HomeScreen />
  </main>
</Layout>
